<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.cagocapps.prtracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/be"
        android:label="@string/app_name"
        android:roundIcon="@drawable/be"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddResult"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewResults"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CommunityResults"></activity>
    </application>

</manifest>